<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input (blur)="onBlur()" (focus)="onFocus()" mdInput #filter placeholder="Filter users">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container cdkColumnDef="awsName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container cdkColumnDef="awsOwner">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Owner </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.owner}} </md-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container cdkColumnDef="awsPlatform">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Platform </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.platform}} </md-cell>
    </ng-container>

    <!-- Instance ID Column -->
    <ng-container cdkColumnDef="awsIntanceID">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Instance ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.instanceId}} </md-cell>
    </ng-container>

    <!-- Private IP Column -->
    <ng-container cdkColumnDef="awsPrivateIP">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Private Ip </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.privateIP}} </md-cell>
    </ng-container>


    <!-- Managed by chef Column -->
    <ng-container cdkColumnDef="awsManaged">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Managed By Chef </md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="setColor(row.managedByChef)"> {{row.managedByChef}} </md-cell>
    </ng-container>
    
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>