<md-card>
  <md-card-title>Linux Users</md-card-title>
  <md-card-content>
    <md-grid-list cols="{{colAmmount}}">
      <md-grid-tile *ngFor="let user of chefUsers">
        {{user.name}}
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input (blur)="onBlur()" (focus)="onFocus()" mdInput #filter placeholder="Filter users">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container cdkColumnDef="cdName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- IP Column -->
    <ng-container cdkColumnDef="cdAdressIP">
      <md-header-cell *cdkHeaderCellDef md-sort-header> IP Adress </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.adressIP}} </md-cell>
    </ng-container>

    <!-- Environment Column -->
    <ng-container cdkColumnDef="cdEnvironment">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Environment </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.environment}} </md-cell>
    </ng-container>

    <!-- Roles Column -->
    <!-- <ng-container cdkColumnDef="cdRoles">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Roles </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.roles}} </md-cell>
    </ng-container> -->

    <!-- Roles Column -->
    <ng-container cdkColumnDef="cdPlatform">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Platform </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.platform}} </md-cell>
    </ng-container>

    <!-- Secure Column -->
    <ng-container cdkColumnDef="cdSecure">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Secure </md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="setColor(row.secure)"> {{row.secure}} </md-cell>
    </ng-container>


    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>